flows.json
[
    {
        "id": "b963e2eb5d019df1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a3de798428f9b2b",
        "type": "inject",
        "z": "b963e2eb5d019df1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "7cadb75a50d211e8"
            ]
        ]
    },
    {
        "id": "7cadb75a50d211e8",
        "type": "switch",
        "z": "b963e2eb5d019df1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 140,
        "wires": [
            [
                "2f9f68ae57de7b08",
                "178a558e28378d9b"
            ]
        ]
    },
    {
        "id": "2f9f68ae57de7b08",
        "type": "debug",
        "z": "b963e2eb5d019df1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "daa42a44d5eb7d77",
        "type": "complete",
        "z": "b963e2eb5d019df1",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 660,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "178a558e28378d9b",
        "type": "link call",
        "z": "b963e2eb5d019df1",
        "name": "",
        "links": [],
        "timeout": "30",
        "x": 700,
        "y": 340,
        "wires": [
            [
                "f0d921fabac90502"
            ]
        ]
    },
    {
        "id": "f0d921fabac90502",
        "type": "change",
        "z": "b963e2eb5d019df1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 440,
        "wires": [
            [
                "bd446d4eabf2e64c"
            ]
        ]
    },
    {
        "id": "bd446d4eabf2e64c",
        "type": "template",
        "z": "b963e2eb5d019df1",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 930,
        "y": 460,
        "wires": [
            []
        ]
    }
]