flows.json
[
    {
        "id": "b963e2eb5d019df1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a3de798428f9b2b",
        "type": "inject",
        "z": "b963e2eb5d019df1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "7cadb75a50d211e8"
            ]
        ]
    },
    {
        "id": "7cadb75a50d211e8",
        "type": "switch",
        "z": "b963e2eb5d019df1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 140,
        "wires": [
            [
                "2f9f68ae57de7b08"
            ]
        ]
    },
    {
        "id": "2f9f68ae57de7b08",
        "type": "debug",
        "z": "b963e2eb5d019df1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 140,
        "wires": []
    }
]